#video-container {
    width: 640px;
    height: 360px;
    float: left;
    left: 50px;
}

#image-container {
    float: left;
    margin-left: 20px;
}

#image-container img {
    width: 250px;
    height: 160px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
    left: 50px;
}
